.heart {
	width: 40px;
	height: 40px;
	background: url(../heart_image.png) no-repeat;
	background-position: 0 0;
	cursor: pointer;
	background-size: cover;
}
.heart:hover {
	background-position: -1120px 0;
	-webkit-transition: background 1s steps(28);
	transition: background 1s steps(28);
}

.reply {
	width: 17px;
	height: 17px;
	background: url(../reply_image.png) no-repeat;
	background-position: 0 0;
	cursor: pointer;
	background-size: cover;

}

/*.reply:hover {
	background-position: -1120px 0;
	-webkit-transition: background 1s steps(28);
	transition: background 1s steps(28);
}*/


.delete {
	width: 17px;
	height: 17px;
	background: url(../delete_image.png) no-repeat;
	background-position: 0 0;
	cursor: pointer;
	background-size: cover;
}